<a href="https://colab.research.google.com/github/MelKanyi/Data-Ceaning-and-Analysis/blob/master/Week_4_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.0 Importing our Libraries

In [0]:
# Importing the libraries we will need 

# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

# 1.1 Reading the Dataset from our CSV file

# 1.2 Previewing out Dataset

In [2]:
# Let's read the data from the csv file thencreate a data frame to be used 
al = pd.read_csv('http://bit.ly/Autolibdataset')
al

          Unnamed: 0                                    Address  ...  hour  minute
0                  0                             24 Rue Vulpian  ...     0       0
1                  1                 8 Boulevard Richard Lenoir  ...     0       0
2                  2                       4 Rue Charles Bossut  ...     0       0
3                  3                  3 avenue Claude Vellefaux  ...     0       0
4                  4                     236 Boulevard Voltaire  ...     0       0
5                  5               44 Rue des Pirogues de Bercy  ...     0       0
6                  6                63 Boulevard Richard Lenoir  ...     0       0
7                  7                          43 Rue de Monceau  ...     0       0
8                  8         10 Avenue du Docteur Arnold Netter  ...     0       0
9                  9             33 Avenue Pierre 1er de Serbie  ...     0       0
10                10                   2 Rue Houdart de Lamotte  ...     0       0
11                11          238 Rue du Faubourg Saint-Antoine  ...     0       0
12                12                         23 Quai aux Fleurs  ...     0       0
13                13                      54 Rue David d'Angers  ...     0       0
14                14                          46 rue de Turenne  ...     0       0
15                15                        142 Rue de Bagnolet  ...     0       0
16                16             91 rue du Faubourg Saint-Denis  ...     0       0
17                17                           336 Rue Lecourbe  ...     0       0
18                18                   16 place des Ãtats-Unis  ...     0       0
19                19                               99 Rue Monge  ...     0       0
20                20                45 Avenue de la Bourdonnais  ...     0       0
21                21                              42 Rue du Bac  ...     0       0
22                22                     42 avenue de Friedland  ...     0       0
23                23                         143 Rue La Fayette  ...     0       0
24                24                     182 Boulevard Voltaire  ...     0       0
25                25                   2 Rue Fabre d'Ãglantine  ...     0       0
26                26                      4 Avenue Jean JaurÃ¨s  ...     0       0
27                27                     30 Quai de Dion Bouton  ...     0       0
28                28                    183 Rue des Renouillers  ...     0       0
29                29                        5 Place du Commerce  ...     0       0
...              ...                                        ...  ...   ...     ...
14421799        1103  106 avenue du Vieux Chemin de Saint-Denis  ...    23      59
14421800        1104                              4 rue Valiton  ...    23      59
14421801        1105                          53 Boulevard Foch  ...    23      59
14421802        1106                               5 rue Vauban  ...    23      59
14421803        1107                68 rue de la Bonne Aventure  ...    23      59
14421804        1108            1 avenue du GÃ©nÃ©ral de Gaulle  ...    23      59
14421805        1109                 4 boulevard Anatole France  ...    23      59
14421806        1110                  2 avenue Georges Pompidou  ...    23      59
14421807        1111                         12 avenue Rabelais  ...    23      59
14421808        1112                    1 rue de la LibÃ©ration  ...    23      59
14421809        1113                    282 avenue d'Argenteuil  ...    23      59
14421810        1114              21 rue de l'Ecole de Medecine  ...    23      59
14421811        1115         6 avenue de la Porte de Champerret  ...    23      59
14421812        1116                        194 rue de fontenay  ...    23      59
14421813        1117            102 Boulevard Raymond PoincarÃ©  ...    23      59
14421814        1118                       8 avenue George Sand  ...    23      59
14421815          97                           6 rue GuÃ©briant  ...    23      59
14421816         196                        17 rue Caulaincourt  ...    23      59
14421817         234               50 Boulevard Auguste Blanqui  ...    23      59
14421818         257             49 Rue Paul Vaillant Couturier  ...    23      59
14421819         372                               4 rue Turgot  ...    23      59
14421820         545                      31 boulevard National  ...    23      59
14421821         605                  125 bis avenue Parmentier  ...    23      59
14421822         634                               8 rue Danton  ...    23      59
14421823         759                         30 Rue RenÃ© Hamon  ...    23      59
14421824         880                        2 rue Paul CÃ©zanne  ...    23      59
14421825         950                        8 rue Louise Michel  ...    23      59
14421826         996                    3 rue Olivier de Serres  ...    23      59
14421827        1010           11 avenue du GÃ©nÃ©ral De Gaulle  ...    23      59
14421828        1072                      1 rue AndrÃ© Theuriet  ...    23      59

[14421829 rows x 26 columns]

In [3]:
# Let's preview the first 10 rows of our dataset
al.head(10)

   Unnamed: 0                             Address  Cars  ...  day  hour  minute
0           0                      24 Rue Vulpian     3  ...    1     0       0
1           1          8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2                4 Rue Charles Bossut     3  ...    1     0       0
3           3           3 avenue Claude Vellefaux     4  ...    1     0       0
4           4              236 Boulevard Voltaire     1  ...    1     0       0
5           5        44 Rue des Pirogues de Bercy     1  ...    1     0       0
6           6         63 Boulevard Richard Lenoir     1  ...    1     0       0
7           7                   43 Rue de Monceau     0  ...    1     0       0
8           8  10 Avenue du Docteur Arnold Netter     4  ...    1     0       0
9           9      33 Avenue Pierre 1er de Serbie     2  ...    1     0       0

[10 rows x 26 columns]

# 1.3 Accessing Information about our Dataset

In [4]:
# Let's access information about our dataset
al.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14421829 entries, 0 to 14421828
Data columns (total 26 columns):
Unnamed: 0             int64
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(13), object(13)
memory usage: 2.8+ GB

# 1.4 Cleaning our Dataset

## 1.41) Validity

In [5]:
# Procedure 1:
# Data Cleaning Action:drop columns 
# Explanation:we will drop unneccesary columns
al.drop(['Unnamed: 0','Address','Cars','Displayed comment','ID','Geo point'], axis = 1, inplace = True) 
  
al.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                3               1                   0  ...    1    0      0
1                0               0                   0  ...    1    0      0
2                3               0                   0  ...    1    0      0
3                4               0                   0  ...    1    0      0
4                1               0                   0  ...    1    0      0

[5 rows x 20 columns]

In [0]:
#al

In [0]:
# Procedure 2: 
# Data Cleaning Action:check if there are any outliers
# Explanation:we have used the IQR formula to check if there are outliers.
# Where there's true indicates presence of outliers 
#Q1 = al.quantile(0.25)
#Q3 = al.quantile(0.75)
#iqr = Q3 - Q1

#print(al < (Q1 - 1.5 * iqr)) |(al > (Q3 + 1.5 * iqr))

#ala = al[~((al < (Q1 - 1.5 * iqr)) |(al > (Q3 + 1.5 * iqr))).any(axis=1)]
#ala

## 1.42) Accuracy

## 1.43) Completeness

In [8]:
# Procedure 1:
# Data Cleaning Action:Check if there is any missing values
# Explanation:

print(al.isnull().sum().sum())

14310213

In [9]:
# Procedure 2:
# Data Cleaning Action:Checking if there is any missing value across each column
# Explanation:
al.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [10]:
# Procedure 3:
# Data Cleaning Action:Checking how many missing values there are across each column
# Explanation:
al.isnull().sum()

Bluecar counter               0
Utilib counter                0
Utilib 1.4 counter            0
Charge Slots                  0
Charging Status               0
City                          0
Kind                          0
Postal code                   0
Public name                   0
Rental status                 0
Scheduled at           14310213
Slots                         0
Station type                  0
Status                        0
Subscription status           0
year                          0
month                         0
day                           0
hour                          0
minute                        0
dtype: int64

## 1.44) Consistency

In [11]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances

al.duplicated()

0           False
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False
29          False
            ...
14421799    False
14421800    False
14421801    False
14421802    False
14421803    False
14421804    False
14421805    False
14421806    False
14421807    False
14421808    False
14421809    False
14421810    False
14421811    False
14421812    False
14421813    False
14421814    False
14421815     True
14421816     True
14421817     True
14421818     True
14421819     True
14421820     True
14421821     True
14421822     True
14421823     True
14421824     True
14421825     True
14421826     True
14421827     True
14421828     True
Length: 14421829, dtype: bool

In [0]:
# drop the duplicated rows

al = al.drop_duplicates()

In [0]:
#al.duplicated()

## 1.45) Uniformity

In [14]:
# Procedure 1: 
# Data Cleaning Action:change column names to lowercase
# Explanation: the column names have all been changed to lowercase

al.columns = al.columns.str.lower().str.replace(' ','_')
al.head(1)

   bluecar_counter  utilib_counter  utilib_1.4_counter  ...  day hour minute
0                3               1                   0  ...    1    0      0

[1 rows x 20 columns]

## Exporting the Cleaned Dataset

In [0]:
# 
#al['date'] = pd.to_datetime((al.year*10000+al.month*100+al.day).apply(str),format='%Y%m%d')

In [0]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
#al.to_csv('cars.csv')

# 1.5 Answering Questions

## 1.5.1 Bluecar_counter

In [0]:
# Read our cleaned csv file

#cars = pd.read_csv('cars.csv')
#cars.head()

In [18]:
# create a new column where we find the difference in the number of cars at the station

al['bluecar_diff'] = al['bluecar_counter'].diff()
al.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   bluecar_counter  utilib_counter  ...  minute  bluecar_diff
0                3               1  ...       0           NaN
1                0               0  ...       0          -3.0
2                3               0  ...       0           3.0
3                4               0  ...       0           1.0
4                1               0  ...       0          -3.0

[5 rows x 21 columns]

In [30]:
# Challenge 1
# What is the most popular hour of the day for picking up a shared electric car

# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

# positive returned

# Negative taken

#select city == Paris

al_paris = al[al['city'] =='Paris']

al_paris

          bluecar_counter  utilib_counter  ...  utilib_diff  utilib1.4_diff
0                       3               1  ...          NaN             NaN
1                       0               0  ...         -1.0             0.0
2                       3               0  ...          0.0             0.0
3                       4               0  ...          0.0             0.0
4                       1               0  ...          0.0             0.0
5                       1               0  ...          0.0             0.0
6                       1               0  ...          0.0             0.0
7                       0               0  ...          0.0             0.0
8                       4               0  ...          0.0             0.0
9                       2               0  ...          0.0             0.0
10                      3               0  ...          0.0             0.0
11                      2               0  ...          0.0             0.0
12                      0               0  ...          0.0             0.0
13                      4               0  ...          0.0             1.0
14                      1               0  ...          0.0            -1.0
15                      1               1  ...          1.0             0.0
16                      0               0  ...         -1.0             1.0
17                      1               0  ...          0.0            -1.0
18                      1               1  ...          1.0             0.0
19                      1               0  ...         -1.0             0.0
20                      1               0  ...          0.0             0.0
21                      5               0  ...          0.0             0.0
22                      0               0  ...          0.0             0.0
23                      0               0  ...          0.0             0.0
24                      2               0  ...          0.0             0.0
25                      2               0  ...          0.0             0.0
29                      1               0  ...          0.0             0.0
31                      3               0  ...          0.0            -1.0
32                      4               0  ...          0.0             1.0
34                      0               0  ...          0.0             0.0
...                   ...             ...  ...          ...             ...
14421702                0               0  ...          0.0             0.0
14421703                4               0  ...          0.0             1.0
14421704                0               0  ...          0.0            -1.0
14421714                0               0  ...          0.0             0.0
14421717                3               0  ...          0.0             0.0
14421718                0               0  ...          0.0             0.0
14421719                4               0  ...          0.0             0.0
14421722                0               0  ...          0.0             0.0
14421724                3               0  ...          0.0             0.0
14421730                0               0  ...          0.0             0.0
14421734                0               0  ...          0.0             0.0
14421743                0               0  ...          0.0             0.0
14421745                0               0  ...          0.0             0.0
14421746                2               0  ...          0.0             0.0
14421747                0               0  ...          0.0             0.0
14421750                2               0  ...          0.0             1.0
14421754                3               0  ...          0.0             0.0
14421755                0               0  ...          0.0            -1.0
14421758                0               0  ...          0.0             0.0
14421759                1               0  ...          0.0             0.0
14421773                2               0  ...          0.0             0.0
14421777                6               0  ...          0.0             0.0
14421783                4               0  ...          0.0             0.0
14421784                0               0  ...          0.0            -1.0
14421785                4               0  ...          0.0             0.0
14421790                2               0  ...          0.0             1.0
14421791                2               0  ...          0.0            -1.0
14421798                0               0  ...          0.0             0.0
14421810                0               0  ...          0.0             0.0
14421811                4               0  ...          0.0             0.0

[7796692 rows x 23 columns]

In [20]:
al_paris[al_paris['bluecar_diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
4     148287
3     148169
7     147936
2     147698
6     147608
5     147367
8     147046
9     147025
10    146956
14    145705
11    145571
16    142779
13    142326
15    142058
21    142057
12    141789
20    140798
17    140484
18    139608
22    138991
19    137904
1     130086
0     129408
23    126666
Name: hour, dtype: int64

In [21]:
# Challenge 2
# What is the most popular hour for returning cars

al_paris[al_paris['bluecar_diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    123791
22    118844
20    118759
10    117925
11    116598
9     116447
19    115832
8     115485
18    115480
7     115202
15    114853
6     114745
17    114526
13    113998
16    113869
14    113827
12    113303
5     112676
2     110811
4     110694
3     110204
23    104766
0     103514
1     102679
Name: hour, dtype: int64

In [22]:
# Challenge 3
# What is the most popular station overall

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok')].groupby('public_name')['public_name'].count().sort_values(ascending= False)

public_name
Paris/25 AoÃ»t 1944/8              12761
Paris/Duhesme/113                  12761
Paris/Murat/98                     12761
Paris/MÃ©nilmontant/122            12761
Paris/MÃ©nilmontant/30             12761
Paris/Nation/26                    12761
Paris/Nationale/77                 12761
Paris/Courcelles/69                12761
Paris/Nicolas Taunay/7             12761
Paris/Niel/28                      12761
Paris/Courcelles/188               12761
Paris/Notre-Dame des Champs/39     12761
Paris/Cotentin/29                  12761
Paris/Convention/75                12761
Paris/Convention/171               12761
Paris/Ordener/1                    12761
Paris/Constantinople/4             12761
Paris/Murat/1                      12761
Paris/Mozart/2                     12761
Paris/Mozart/101                   12761
Paris/Dante/1                      12761
Paris/Delessert/23                 12761
Paris/David d'Angers/54            12761
Paris/Darmesteter/12               12761
Paris/Metz/6                       12761
Paris/Meurthe/1                    12761
Paris/Dantzig/80                   12761
Paris/Molitor/16                   12761
Paris/Croix des Petits Champs/4    12761
Paris/Monceau/43                   12761
                                   ...
Paris/Adolphe Mille/8              12619
Paris/LinnÃ©/18                    12591
Paris/Paul PainlevÃ©/7             12582
Paris/Manin/159                    12581
Paris/Turgot/4                     12562
Paris/Championnet/28               12546
Paris/Bac/142                      12531
Paris/Boulard/1                    12487
Paris/Temple/36                    12481
Paris/Galvani/25                   12467
Paris/Messine/12                   12402
Paris/Amiral Coligny/2             12390
Paris/Navier/1                     12351
Paris/PÃ©guy/2                     12244
Paris/Tolbiac/41                   12190
Paris/Eaux/2                       12173
Paris/Finlay/43                    12044
Paris/Monge/99                     11732
Paris/ChÃ¢teau Landon/52           11682
Paris/La Fayette/143               11381
Paris/Rocroy/15                    11378
Paris/Faubourg-Saint-Martin/168    11352
Paris/Caulaincourt/17              11320
Paris/Londres/6                    11279
Paris/Sibour/2                     11167
Paris/Capitaine Ferber/5           10746
Paris/Courcelles/210                8994
Paris/Gambetta/65                   8510
Paris/Saint-HonorÃ©/91              7741
Paris/Roquette/162                  4133
Name: public_name, Length: 525, dtype: int64

In [23]:
# Challenge 4
# What is the most popular station at most popular picking hours

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 4)].groupby('public_name')['public_name'].count().sort_values(ascending= False)

public_name
Paris/Ãvangile/45                 540
Paris/Henard/3                     540
Paris/Friedland/42                 540
Paris/Frigos/24                    540
Paris/Froidevaux/71                540
Paris/FrÃ©dÃ©ric LoliÃ©e/5         540
Paris/FrÃ©dÃ©rick LemaÃ®tre/5      540
Paris/FÃ©dÃ©ration/10              540
Paris/Galvani/25                   540
Paris/Gambetta/1                   540
Paris/Gambetta/161                 540
Paris/Gambetta/19                  540
Paris/Gaston Tessier/8             540
Paris/Geoffroy-Saint-Hilaire/27    540
Paris/George V/44                  540
Paris/Georges Berger/2             540
Paris/Georges Lafenestre/11        540
Paris/Georges Mandel/1             540
Paris/Georges Mandel/42            540
Paris/Gerbert/11                   540
Paris/Goubet/8                     540
Paris/GouthiÃ¨re/12                540
Paris/Grande ArmÃ©e/40             540
Paris/Grange aux Belles/11         540
Paris/Grange aux Belles/47         540
Paris/Grenelle/139                 540
Paris/Grenelle/152                 540
Paris/Grenelle/37                  540
Paris/Guy Patin/10                 540
Paris/GuÃ©briant/6                 540
                                  ...
Paris/Paradis/28                   540
Paris/Parmentier/125               540
Paris/Parmentier/62                540
Paris/Pasteur/41                   540
Paris/Pastourelle/27               540
Paris/Paul Barruel/44              540
Paris/Paul Doumer/72               540
Paris/Paul Escudier/2              540
Paris/Philippe Auguste/126         540
Paris/Paul PainlevÃ©/7             540
Paris/Pereire/170                  540
Paris/Philippe Auguste/1           540
Paris/PerrÃ©e/18                   540
Paris/Pelleport/86                 540
Paris/Pernety/46                   540
Paris/Pereire/271                  540
Paris/Pereire/115                  540
Paris/Pelleport/105                540
Paris/Capitaine Ferber/5           480
Paris/Caulaincourt/17              480
Paris/Londres/6                    480
Paris/Sibour/2                     480
Paris/La Fayette/143               480
Paris/Faubourg-Saint-Martin/168    480
Paris/ChÃ¢teau Landon/52           480
Paris/Rocroy/15                    480
Paris/Gambetta/65                  420
Paris/Courcelles/210               360
Paris/Saint-HonorÃ©/91             300
Paris/Roquette/162                 180
Name: public_name, Length: 525, dtype: int64

In [24]:
# Challenge 5
# What is the most popular postal code for picking up blue cars 

#al_paris.groupby('postal_code').count()[['bluecar_counter']].head(5)

al_paris[(al_paris['postal_code']) & (al_paris['status'] == 'ok')].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    713875
75017    544231
75013    490380
75019    446226
75011    386954
75007    318728
75009    291222
75005    240297
75003    190885
75001    130968
Name: postal_code, dtype: int64

In [25]:
# Does the station in challenge 4 belong to our postal code??Overall

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 4)].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18720
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: postal_code, dtype: int64

In [26]:
# Does the station in challenge 4 belong to our postal code??Most popular picking hours

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 4)].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18720
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: postal_code, dtype: int64

## 1.5.2 Utilib_counter

In [27]:
al['utilib_diff'] = al['utilib_counter'].diff()
al.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   bluecar_counter  utilib_counter  ...  bluecar_diff  utilib_diff
0                3               1  ...           NaN          NaN
1                0               0  ...          -3.0         -1.0
2                3               0  ...           3.0          0.0
3                4               0  ...           1.0          0.0
4                1               0  ...          -3.0          0.0

[5 rows x 22 columns]

In [31]:
# challenge 1
al_paris[al_paris['utilib_diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
5     19606
7     19381
8     19035
4     18933
3     18901
2     18780
6     18772
10    18256
21    17935
9     17793
11    17696
14    17533
22    17273
1     17203
13    17003
12    16837
0     16798
15    16649
23    16613
16    16587
20    16317
19    16012
17    15613
18    15055
Name: hour, dtype: int64

In [32]:
# Challenge 2
# What is the most popular hour for returning cars

al_paris[al_paris['utilib_diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
7     17364
10    17036
8     16987
6     16698
11    16553
5     16503
9     16301
4     16236
14    16125
13    15963
3     15825
2     15720
16    15689
15    15294
21    14997
12    14994
1     14540
22    14480
17    14419
0     14291
20    14255
19    14129
18    13489
23    13368
Name: hour, dtype: int64

In [33]:
# Challenge 3
# What is the most popular station at most popular picking hours

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 5)].groupby('public_name')['public_name'].count().sort_values(ascending= False)

public_name
Paris/Ãvangile/45                 540
Paris/Henard/3                     540
Paris/Friedland/42                 540
Paris/Frigos/24                    540
Paris/Froidevaux/71                540
Paris/FrÃ©dÃ©ric LoliÃ©e/5         540
Paris/FrÃ©dÃ©rick LemaÃ®tre/5      540
Paris/FÃ©dÃ©ration/10              540
Paris/Galvani/25                   540
Paris/Gambetta/1                   540
Paris/Gambetta/161                 540
Paris/Gambetta/19                  540
Paris/Gaston Tessier/8             540
Paris/Geoffroy-Saint-Hilaire/27    540
Paris/George V/44                  540
Paris/Georges Berger/2             540
Paris/Georges Lafenestre/11        540
Paris/Georges Mandel/1             540
Paris/Georges Mandel/42            540
Paris/Gerbert/11                   540
Paris/Goubet/8                     540
Paris/GouthiÃ¨re/12                540
Paris/Grande ArmÃ©e/40             540
Paris/Grange aux Belles/11         540
Paris/Grange aux Belles/47         540
Paris/Grenelle/139                 540
Paris/Grenelle/152                 540
Paris/Grenelle/37                  540
Paris/Guy Patin/10                 540
Paris/GuÃ©briant/6                 540
                                  ...
Paris/Paradis/28                   540
Paris/Parmentier/125               540
Paris/Parmentier/62                540
Paris/Pasteur/41                   540
Paris/Pastourelle/27               540
Paris/Paul Barruel/44              540
Paris/Paul Doumer/72               540
Paris/Paul Escudier/2              540
Paris/Philippe Auguste/126         540
Paris/Paul PainlevÃ©/7             540
Paris/Pereire/170                  540
Paris/Philippe Auguste/1           540
Paris/PerrÃ©e/18                   540
Paris/Pelleport/86                 540
Paris/Pernety/46                   540
Paris/Pereire/271                  540
Paris/Pereire/115                  540
Paris/Pelleport/105                540
Paris/Capitaine Ferber/5           480
Paris/Caulaincourt/17              480
Paris/Londres/6                    480
Paris/Sibour/2                     480
Paris/La Fayette/143               480
Paris/Faubourg-Saint-Martin/168    480
Paris/ChÃ¢teau Landon/52           480
Paris/Rocroy/15                    480
Paris/Gambetta/65                  398
Paris/Courcelles/210               360
Paris/Saint-HonorÃ©/91             300
Paris/Roquette/162                 180
Name: public_name, Length: 525, dtype: int64

In [34]:
# Does the station in challenge 4 belong to our postal code??Overall

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 5)].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18698
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: postal_code, dtype: int64

In [35]:
# Does the station in challenge 4 belong to our postal code??Most popular picking hours

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 5)].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18698
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: postal_code, dtype: int64

## 1.5.3 Utilib1.4_counter

In [29]:
al['utilib1.4_diff'] = al['utilib_1.4_counter'].diff()
al.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   bluecar_counter  utilib_counter  ...  utilib_diff  utilib1.4_diff
0                3               1  ...          NaN             NaN
1                0               0  ...         -1.0             0.0
2                3               0  ...          0.0             0.0
3                4               0  ...          0.0             0.0
4                1               0  ...          0.0             0.0

[5 rows x 23 columns]

In [36]:
#
al_paris[al_paris['utilib1.4_diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     36246
5     35774
7     35238
10    34905
4     34773
8     34747
11    34466
9     34427
3     34234
2     33865
12    32982
13    32271
21    31942
14    31872
22    31828
16    31315
15    31272
17    30498
1     30281
20    29858
18    29535
0     29116
23    28681
19    28295
Name: hour, dtype: int64

In [37]:
# Challenge 2
# What is the most popular hour for returning cars

al_paris[al_paris['utilib1.4_diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     32185
10    32006
7     32002
11    31845
21    31603
8     30892
9     30887
5     30819
4     30396
22    30196
3     30112
2     30067
12    29969
13    29940
14    29872
20    29678
17    29048
18    28873
16    28550
15    28297
19    28136
0     27486
23    27340
1     27160
Name: hour, dtype: int64

In [38]:
# Challenge 3
# What is the most popular station at most popular picking hours

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 6)].groupby('public_name')['public_name'].count().sort_values(ascending= False)

public_name
Paris/Ãvangile/45                 539
Paris/Henard/3                     539
Paris/Friedland/42                 539
Paris/Frigos/24                    539
Paris/Froidevaux/71                539
Paris/FrÃ©dÃ©ric LoliÃ©e/5         539
Paris/FrÃ©dÃ©rick LemaÃ®tre/5      539
Paris/FÃ©dÃ©ration/10              539
Paris/Galvani/25                   539
Paris/Gambetta/1                   539
Paris/Gambetta/161                 539
Paris/Gambetta/19                  539
Paris/Gaston Tessier/8             539
Paris/Geoffroy-Saint-Hilaire/27    539
Paris/George V/44                  539
Paris/Georges Berger/2             539
Paris/Georges Lafenestre/11        539
Paris/Georges Mandel/1             539
Paris/Georges Mandel/42            539
Paris/Gerbert/11                   539
Paris/Goubet/8                     539
Paris/GouthiÃ¨re/12                539
Paris/Grande ArmÃ©e/40             539
Paris/Grange aux Belles/11         539
Paris/Grange aux Belles/47         539
Paris/Grenelle/139                 539
Paris/Grenelle/152                 539
Paris/Grenelle/37                  539
Paris/Guy Patin/10                 539
Paris/GuÃ©briant/6                 539
                                  ...
Paris/Paradis/28                   539
Paris/Parmentier/125               539
Paris/Parmentier/62                539
Paris/Pasteur/41                   539
Paris/Pastourelle/27               539
Paris/Paul Barruel/44              539
Paris/Paul Doumer/72               539
Paris/Paul Escudier/2              539
Paris/Philippe Auguste/126         539
Paris/Paul PainlevÃ©/7             539
Paris/Pereire/170                  539
Paris/Philippe Auguste/1           539
Paris/PerrÃ©e/18                   539
Paris/Pelleport/86                 539
Paris/Pernety/46                   539
Paris/Pereire/271                  539
Paris/Pereire/115                  539
Paris/Pelleport/105                539
Paris/Capitaine Ferber/5           479
Paris/Caulaincourt/17              479
Paris/Londres/6                    479
Paris/Sibour/2                     479
Paris/La Fayette/143               479
Paris/Faubourg-Saint-Martin/168    479
Paris/ChÃ¢teau Landon/52           479
Paris/Rocroy/15                    479
Paris/Courcelles/210               360
Paris/Gambetta/65                  359
Paris/Saint-HonorÃ©/91             300
Paris/Roquette/162                 179
Name: public_name, Length: 525, dtype: int64

In [39]:
# Does the station in challenge 4 belong to our postal code??Overall

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 6)].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    26950
75016    23177
75017    19764
75013    19404
75020    18625
75012    16709
75019    16709
75008    15931
75014    15631
75011    14732
75018    14493
75007    12397
75010    12097
75009    11259
75005     9702
75006     8624
75004     7546
75003     6468
75002     5929
75001     4312
75112      539
75116      539
Name: postal_code, dtype: int64

In [40]:
# Does the station in challenge 4 belong to our postal code??Most popular picking hours

al_paris[(al_paris['kind'] == 'STATION') & (al_paris['status'] == 'ok') & (al_paris['hour'] == 6)].groupby('postal_code')['postal_code'].count().sort_values(ascending= False)

postal_code
75015    26950
75016    23177
75017    19764
75013    19404
75020    18625
75012    16709
75019    16709
75008    15931
75014    15631
75011    14732
75018    14493
75007    12397
75010    12097
75009    11259
75005     9702
75006     8624
75004     7546
75003     6468
75002     5929
75001     4312
75112      539
75116      539
Name: postal_code, dtype: int64

In [0]:
# Do the result change if you consider Utilib and Utilib1.4 instead of blue cars?

#al[(al.city == 'Paris') & ((al.bluecar_counter > 0) |(al.utilib_counter > 0) |(al['utilib_1.4_counter'] > 0))].groupby(al.day.dt.hour)['date'].count().sort_values(ascending = False)